.auth-content-section {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-tertiary);
}

.auth-content-section .auth-content-box {
    padding: 1% 5%;
    width: 90%;
    max-width: 511px;
    border-radius: var(--rem-16);
    border: 1px solid var(--gray-200);
    box-shadow: 32px 32px 64px rgba(52, 64, 84, 0.08);
    background: var(--bg-primary);
}

.auth-title {
    font-weight: 600;
    font-size: var(--rem-36);
    text-align: center;
    color: var(--text-primary);
    margin: 0;
}

.auth-sub-title {
    color: var(--text-tertiary);
    text-align: center;
    font-size: var(--rem-16);
    font-weight: 400;
}

.divider {
  font-size: var(--rem-14);
  color: var(--text-tertiary);
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  border-top: 1px solid var(--gray-200);
}

.inputfields {
    height: auto;
    width: 100% !important;
    max-height: 100%;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.error-text {
    color: var(--error-primary);
    font-size: var(--rem-12);
    opacity: 0;
    pointer-events: none;
}

.error-text.active {
    pointer-events: all;
    opacity: 1;
    color: var(--error-primary);
}

.error-input-field {
    border-color: var(--error-secondary);
}

.bars {
  display: flex;
  gap: var(--rem-4);
}

.bar {
  width: clamp(var(--rem-16), 3vw, var(--rem-24));
  flex: 1;
  height: 4px;
  border-radius: var(--rem-8);
}
