.email {
  height: 44px;
  justify-content: center;
  gap: 6px;
  display: flex;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.main-section {
  width: 100%;
  overflow-y: scroll;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.align-icon-text {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-items-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.rmv-btn-style {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.circle-border {
  border: var(--rem-2) solid var(--progress-secondary);
  border-radius: 50%;
  padding: var(--rem-6);

}

.text-white {
  color: var(--bg-primary);
}
.bg-white{
    color: var(--bg-primary);
}
.icon-container-size {
  width: 20px;
  height: 20px;
}

/* Layout Grid */
.top-bar{
  background: var(--bg-tertiary);
}

.main-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  padding:2% 4%;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

.header-area {
  grid-column: 1 / 2;
  grid-row: 1;
}

.main-section {
  grid-column: 1 / 2;
  grid-row: 2;

  @media (max-width: 992px) {
    grid-column: 1 / -1;
  }
}

.sidebar-area {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;

  @media (max-width: 992px) {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}

/* Top Navbar */
.top-nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--surface-primary);
  padding: var(--rem-4);
  border-radius: var(--rem-40);
  width: 75%;
  overflow: hidden;
}

.pill {
  position: absolute;
  top: 6px;
  left: 6px;
  height: calc(100% - 12px);
  width: calc(25% - 12px);
  background: var(--gray-50);
  border-radius: var(--rem-40);
  transition: transform 0.3s ease;
  z-index: 1;
}

.navItem {
  z-index: 2;
  text-align: center;
  padding: 0.6rem 0;
  color: var(--text-tertiary);
  font-weight: 500;
  text-decoration: none;
  
}

.navItem.active {
  color: var(--text-primary);
}

/* ADD HABIT BUTTON */
.add-habit-btn {
  border: 1px solid var(--btn-border);
  color: var(--btn-text-primary);
  font-weight: 600;
  border-radius: var(--rem-40);
  padding: var(--rem-14) var(--rem-24);
  font-size: var(--rem-14);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-habit-btn:active {
  background: var(--btn-hover);
}

/* Chevron Buttons */
.chevron-btn {
  transition: 0.2s ease;

  &:hover {
    background: var(--btn-hover);
  }
}

.chevron-disabled {
  pointer-events: none;
  opacity: 0.2;
}
.habit-color-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.nav-seperator{
  width: 100%;
  background: var(--surface-secondary);
  height: var(--rem-2);
  border-radius: var(--rem-16);
}
