.sidebar-log {
  display: flex;
  gap: var(--rem-2);
  padding: 0.75rem;
  font-size: 1rem;
  align-items: stretch;
  .status-icon {
    display: grid;
    place-items: center;
    margin-right: 8px;
  }

  .pending-line {
    width: 5px;
    border-radius: var(--rem-40);
    height: 100% !important;
    align-self: stretch;
    min-height: 105px;
  }

  .habit-container {
    position: relative;
    width: 100%;
    border-radius: var(--rem-16);
    overflow: hidden;
  }

  .habit-bg {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    transition: width 0.3s ease;
    z-index: 0;
  }

  .habit-content {
    position: relative;
    z-index: 10;
    padding: 0.5rem 0.75rem;
    display: grid;
    gap: 0.75rem;
  }

  .habit-actions {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
  }

  .dropdown-menu {
    position: absolute;
    top: 24px;
    right: 0;
    border-radius: var(--rem-8);
    padding: 0;
    background: none;
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease;
    z-index: 9999;
  }

  .delete-btn,
  .edit-btn {
    background: var(--bg-primary);
    color: var(--text-secondary);
    padding: 2px 8px;
    border-bottom: 1px solid var(--btn-border);
  }

  .delete-btn:active,
  .edit-btn:active {
    background: var(--bg-secondary);
  }

  .complete-btn:focus,
  .complete-btn:active {
    background: none;
  }

  .complete-btn {
    border: 1px solid var(--btn-border);
    color: var(--btn-text-primary);
    padding: var(--rem-4);
    border-radius: var(--rem-8);
    font-size: larger;
    font-weight: 600;
  }
}
