:root {

  --rem-2: 0.125rem;
  /* 2px */
  --rem-4: 0.25rem;
  /* 4px */
  --rem-6: 0.375rem;
  /* 6px */
  --rem-8: 0.5rem;
  /* 8px */
  --rem-10: 0.625rem;
  /* 10px */
  --rem-12: 0.75rem;
  /* 12px */
  --rem-14: 0.875rem;
  /* 14px */
  --rem-16: 1rem;
  /* 16px */
  --rem-18: 1.125rem;
  /* 18px */
  --rem-20: 1.25rem;
  /* 20px */
  --rem-22: 1.375rem;
  /* 22px */
  --rem-24: 1.5rem;
  /* 24px */
  --rem-26: 1.625rem;
  /* 26px */
  --rem-28: 1.75rem;
  /* 28px */
  --rem-30: 1.875rem;
  /* 30px */
  --rem-32: 2rem;
  /* 32px */
  --rem-34: 2.125rem;
  /* 34px */
  --rem-36: 2.25rem;
  /* 36px */
  --rem-38: 2.375rem;
  /* 38px */
  --rem-40: 2.5rem;
  /* 40px */
  --rem-42: 2.625rem;
  /* 42px */
  --rem-44: 2.75rem;
  /* 44px */
  --rem-46: 2.875rem;
  /* 46px */
  --rem-48: 3rem;
  /* 48px */
  --rem-50: 3.125rem;
  /* 50px */
  --rem-52: 3.25rem;
  /* 52px */
  --rem-54: 3.375rem;
  /* 54px */
  --rem-56: 3.5rem;
  /* 56px */
  --rem-58: 3.625rem;
  /* 58px */
  --rem-60: 3.75rem;
  /* 60px */
  --rem-72: 4.5rem;
  --rem-80: 5rem;
  --rem-344: 21.5rem;
  --rem-546: 34.125rem;

  --font-family: "Inter", sans-serif;


  // light theme code
  --bg-bg-primary: #FFFFFF;
  --bg-bg-secondary: #FAFAFA;
  --bg-bg-tertiary: #F5F5F5;
  --bg-bg-quaternary: #E9EAEB;
  --bg-bg-active: #FAFAFA;
  --bg-bg-success-primary: #ECFDF3;
  --bg-bg-brand-primary_alt: #EFF4FF;
  --bg-bg-disable_subtle: #FAFAFA;
  --logo-text: #000000;
  --text-primary: #1B1A1F;
  --text-primary-alt: #0F172A;
  --text-secondary: #414651;
  --text-tertiary: #51525d;
  --text-quaternary: #717680;
  --text-brand-primary-secondary: #004EEB;
  --border-border-primary: #D2D1D6;
  --border-border-secondary: #E9EAEB;
  --border-border-brand_alt: #155EEF;
  --border-border-brand: #2970FF;
  --bg-bg-brand-solid: #155EEF;
  --text-button-disabled: #B2CCFF;
  --text-grey-700: #344054;
  --text-primary-300: #84ADFF;
  --text-success-primary: #039855;
  --fg-fg-primary: #181D27;
  --text-error-primary: #D92D20;
  --bg-bg-error-primary: #FEF3F2;
  --fg-fg-error-secondary: #F04438;
  --fg-fg-warning-secondary: #F79009;
  --fg-fg-success-secondary: #12B76A;
  --fg-fg-success-primary: #039855;
  --text-placeholder_subtle: #D5D7DA;
  --border-border-error_subtle: #FDA29B;
  --text-placeholder: #6F707B;

  --text-btn:#009bff;
  --border-btn:#a7adb8;
}


