:root {
  /* ---------------- Spacing scale ---------------- */
  --rem-2: 0.125rem;
  --rem-4: 0.25rem;
  --rem-6: 0.375rem;
  --rem-8: 0.5rem;
  --rem-10: 0.625rem;
  --rem-12: 0.75rem;
  --rem-14: 0.875rem;
  --rem-16: 1rem;
  --rem-18: 1.125rem;
  --rem-20: 1.25rem;
  --rem-22: 1.375rem;
  --rem-24: 1.5rem;
  --rem-26: 1.625rem;
  --rem-28: 1.75rem;
  --rem-30: 1.875rem;
  --rem-32: 2rem;
  --rem-40: 2.5rem;
  --rem-60: 3.75rem;
  --rem-72: 4.5rem;

  --font-family: "Inter", sans-serif;

  //update colors using pallete extractor!!
  /* ---------------- Habit color palette ---------------- */
  --habit-1: #007dff;
  --habit-2: #ff37cc;
  --habit-3: #ff0000;
  --habit-4: #00e266;
  --habit-5: #009bff;
  --habit-6: #00e3e2;
  --habit-7: #ff00ff;
  --habit-8: #ff9a00;

  /* ---------------- Neutral & grayscale ---------------- */
  --gray-50: #ffffff;
  --gray-100: #fafafa;
  --gray-150: #f5f5f5;
  --gray-200: #e9eaeb;
  --gray-250:#E4E7EC;
  --gray-300: #d2d1d6;
  --gray-500: #51525d;
  --gray-600: #717680;
  --gray-700: #414651;
  --gray-800: #344054;
  --gray-900: #1b1a1f;
  --black: #000000;

  /* ---------------- Brand ---------------- */
  --primary-300: #84adff;
  --primary-500: #2970ff;
  --primary-600: #004eeb;
  --primary-700: #155eef;

  /* ---------------- Button tokens ---------------- */
  --btn-text-primary: #009bff;
  --btn-border: #afabab;
  --btn-hover: #f3f3f3;
  --btn-disabled: #eff5fc;

  /* ---------------- Text ---------------- */
  --text-primary: var(--gray-900);
  --text-secondary: var(--gray-700);
  --text-tertiary: var(--gray-500);
  --text-placeholder: #6f707b;
  --text-placeholder-subtle: #d5d7da;
  --text-inactive: #95a0b4;         
  --text-heading: #282b33;          
  --text-muted-icon: #b5bfc9;       

  /* ---------------- Progress / Graph ---------------- */
  --progress-primary: #1f94fe;     
  --progress-secondary: #eff5fc;  

  /* ---------------- Dashboard surfaces ---------------- */
  --surface-primary: #f3f4f6;       /* card bg */
  --surface-secondary: var(--progress-secondary);     /* light blue bg */
  --surface-border: #ecf2f7;  /* disabled border */
  --grid-stroke: #e5e7eb;           /* grid lines */

  /* ---------------- Semantic status ---------------- */
  --success-primary: #039855;
  --success-secondary: #12b76a;
  --warning-secondary: #f79009;
  --error-primary: #d92d20;
  --error-secondary: #f04438;
  --error-bg: #fef3f2;
  --error-border-subtle: #fda29b;

  /* ---------------- Badges / achievements ---------------- */
  --badge-yellow: #fde047;
  --badge-green: #10b981;
  --badge-red: #ef4444;

  /* ---------------- Background global ---------------- */
  --bg-primary: var(--gray-50);
  --bg-secondary: var(--gray-100);
  --bg-tertiary: var(--gray-150);
  --bg-quaternary: var(--gray-200);

  /* ---------------- Misc ---------------- */
  --logo-text: var(--black);
}
